 <footer class="bg-dark  ">
    <div class="container ">
      <div class="d-flex justify-content-center py-3">

        <div class="mb-4 mb-lg-0 footer-group py-3">
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="{{url_for('main_bp.about')}}" class=" text-uppercase text-white">About</a></li>
            <li class="mb-2"><a href="{{url_for('main_bp.contributions')}}" class="text-uppercase text-white">Credits & contributions</a></li>
            <li><small>Inspired by ifixit.com</small></li>
            
          </ul>
        </div>
        
        <div class="mb-lg-0 footer-group py-3">
          <h6 class="text-uppercase font-weight-bold mb-4">Social</h6>
          <p class="mb-4 text-white">Here you can find all my socials. <br> Would love to hear from you :)</p>
          <ul class="list-inline mt-4 ">
            <li class="list-inline-item"><a href="https://github.com/MiniManch" class='text-white' target="_blank" title="github"><i class="fa  fa-2x fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/emanuelrokah/" class='text-white' target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://minimanch.github.io/" class='text-white' target="_blank" title="portfolio"><i class="fa-solid fa-2x fa-object-group"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/emanuel-rokah-bb1a22158/" class='text-white' target="_blank" title="linkedin"><i class="fab fa-2x fa-linkedin"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer>