{% extends 'partials/main/base.html' %}

{% block content %}
{% include "partials/main/navbar.html" %}


<main id ='container-of-all' class="col-md-8 shadow bg-white rounded animate__animated">
      <div id="progress-bar"></div>

<h1 class="title">{{title}}</h1>

      
    <form id="regForm" class='form' method="POST" action="#" enctype="multipart/form-data">
    {{ form.hidden_tag()}}
      <div id="form-container" class=' d-flex justify-content-between '>
          <i id='prev-btn' class=" disabled fa-solid fa-left-long fa-2xl" ></i>


          <div class="form-input active">

            <h3>NAME</h3>
            {{form.name(class="form-control  first",id='name',placeholder='Name')}}

          </div>
          <div class="form-input disabled">

            <h3>USAGE</h3>
            {{form.usage(class="form-control  second",id='usage',placeholder='To nail stuff to other stuff')}}
            
          </div>
  
          <div class="form-input disabled">
            <h3>IMAGE</h3>

          {{form.image(class="form-control guide-input  ",id='image')}}
            
          </div>
          <div class="form-input disabled">
          {{form.submit(class="button-paper  ",id='submit')}}
          </div>
          <i id='next-btn' class="fa-solid fa-right-long fa-2xl" ></i>
      </div>
    </form>
</main>



<script src="{{url_for('main_bp.static',filename='main/scripts/new.js')}}"></script>
{% if edit %}
<script>


function loadURLToInputFiled(url){
  getImgURL(url, (imgBlob)=>{
    // Load img blob to input
    // WIP: UTF8 character error
    let fileName = 'Your  Picture.jpg'
    let file = new File([imgBlob], fileName,{type:"image/jpeg", lastModified:new Date().getTime()}, 'utf-8');
    let container = new DataTransfer();
    container.items.add(file);
    document.querySelector('#image').files = container.files;

  })
}
// xmlHTTP return blob respond
function getImgURL(url, callback){
  var xhr = new XMLHttpRequest();
  xhr.onload = function() {
      callback(xhr.response);
  };
  xhr.open('GET', url);
  xhr.responseType = 'blob';
  xhr.send();
}

if(edit){
    loadURLToInputFiled('{{edit}}')
}


</script>
{% endif %}
{% endblock %}
