{% extends 'partials/main/base.html' %}

{% block content %}
{% include "partials/main/navbar.html" %}
<!--add new tool button-->
{% if current_user.is_authenticated %}

{% endif %}


<div id='search-and-filter' class="row">
  
  <input class=" col-6 form-control form-control-underlined form-control-underlined border-primary" id='guide-search-input' type="text" placeholder="Search..">
  <div class="dropdown col-6 " id='filter-dropdown'>
    <i id='clear-search' class="fa-solid fa-broom fa-lg"></i>
  </div>
  <a id='new-tool-button'  class="button-paper " href="{{url_for('main_bp.newtool')}}">
    Create Tool!
  </a>
</div>

<!--tools-->
<div class="container" id='container-of-tools'>
  <div class="row">
      {% for tool in tools%}
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mb-lg-0 tool-card">
        <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-4"><img src="https://res.cloudinary.com/drzcke4vu/image/upload/v1683294873/{{tool.image}}" alt="" class="img-fluid d-block mx-auto mb-3">
          <h5> <a href="{{url_for('main_bp.tool',tool_id=tool.id)}}" class="text-dark">{{tool.name}}</a></h5>
          <p class="small text-muted font-italic">{{tool.usage}}</p>
          {% if accepting %}
                  <a href="{{url_for('main_bp.accept',what='tool',its_id=tool.id)}}">to Accept!</a>
          {% endif %}
        </div>
      </div>
    </div>
      {% endfor %}
  </div>
</div>

<script type="text/javascript" src="{{url_for('main_bp.static',filename='main/scripts/guides.js')}}"></script> 
 
{% endblock %}