{% extends 'partials/main/base.html' %}
{% block content %}


<main class="col-md-8  shadow bg-white rounded credits-container">
    <div id='about'>
      Products just aren't built to last as they used to.
      <br>
      But just because they break doesn't mean its completely broken
      <br> 
      Through the power of community, we can bring life back to those dusty broken items.
      <br>
      Upload guides, use them to fix items, post them for sale , everyone profits!
      <br>
      <small>This is my final project for the Developers Insitute Bootcamp. </small>
    </div>

</main>


<style>
    .sidebar-drop-toggler:first-child{
        color:black;
    }
</style>
{% endblock %}

