{% extends 'partials/main/base.html' %}
{% block content %}


<main class="col-md-8  shadow bg-white rounded credits-container">
    <div>
        First of all thanks to Developers Insitute for teaching me all I knew about Web development!
        <br>
        here is a table contaning open source icons , videos and photos that I used and happily mention!
        <br>
    </div>

    <table class="table table-dark table-striped credits-table">
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>Video</td>
          <td><a target='_blank' href="https://www.pexels.com/video/tools-fix-repair-wrench-4482366/">cottonbro studio(pexels)</a></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Icon</td>
          <td><a target='_blank' href="https://www.flaticon.com/free-icons/default">created by Septiana Faza</a></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td >Icon</td>
          <td><a target='_blank' href="https://icons8.com/icon/9730/phone">Icons8</a></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td >Image</td>
          <td><a target='_blank' href="https://www.freepik.com/free-vector/flat-design-handyman-logo_21897571.htm#query=logo%20toolbox&position=17&from_view=search&track=ais">Freepik</a></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Image</td>
          <td>vase pic Photo: Stock Photos from Lia_t/Shutterstock</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Video</td>
          <td><a target='_blank' href="https://www.pexels.com/video/a-kid-having-a-robotic-class-7730592/">Aleba Darmel(pexels)</a></td>
        </tr>
      </tbody>
    </table>
</main>


<style>
    .sidebar-drop-toggler:first-child{
        color:black;
    }
</style>
{% endblock %}

