{% extends 'partials/base.html' %}

{% block content %}
{% include "partials/navbar.html" %}

<!--add new post button-->
<a href="{{url_for('main_bp.newpost')}}">
    <button class="btn  btn-primary btn-block"><span class="bg-float"></span><span class="text">Add new post!</span></button>
</a>

<!--title if no posts-->
{% if posts|length < 1 %}
<h3> We have no posts yet! </h3>
{% endif %}

<!--posts-->
<div id='post_container' class="row mb-2">
{% for post in posts%}
    <div class="col-md-6 post">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">{{users.query.filter_by(id=post.author).first().username}}</strong>
          <h3 class="mb-0">{{post.subject}}</h3>
          <p class="card-text mb-auto">{{post.content}}</p>
          <a href="{{url_for('main_bp.post', post_id= post.id )}}" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
{% endfor %}
</div>

{% endblock %}