{% extends 'partials/main/base.html' %}

{% block content %}
{% include "partials/main/navbar.html" %}

<div class="container">
  <div class="row">
      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
              <img class="img" src="https://res.cloudinary.com/drzcke4vu/image/upload/v1683294873/{{guide.image}}">
              <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
              <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> {{guide.subject}}</h6>
              <h4 class="blog-card-caption">
                  <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
              </h4>
              <p class="blog-card-description">{{guide.content[0:20]}}...</p>
              <div class="ftr">
                  <div class="author">
                      <a href="#"> <img src="https://res.cloudinary.com/drzcke4vu/image/upload/v1683294873/{{users.query.filter_by(id=guide.author).first().image}}" alt="..." class="avatar img-raised"> </a>
                  </div>
              </div>
              {% if guide.steps|length == 0%}
                <h4>
                    add steps!
                </h4>
              {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}