{% extends 'partials/main/base.html' %}

{% block content %}
{% include "partials/main/navbar.html" %}
<!--    {{form.subject(class='form-control')}}-->

<div class="col-md-8">
  <form id="regForm" class='form' method="POST" action="#" enctype="multipart/form-data">
  {{ form.hidden_tag()}}
      <div id="container">
          <h1 class="title">Form</h1>
          <i id="prev-btn" class="fas fa-arrow-left"></i>
          <i id="next-btn" class="fas fa-arrow-right"></i>
          {{form.name(class="form-control active first",id='name')}}
          {{form.usage(class="form-control disabled second",id='usage')}}
          {{form.image(class="form-control disabled third",id='image')}}
          {{form.submit(class="btn btn-success disabled",id='submit')}}
          <div id="progress-bar"></div>
      </div>
  </form>
</div>


<script src="{{url_for('main_bp.static',filename='main/scripts/new_tool.js')}}"></script>

{% endblock %}
