{% extends 'partials/base.html' %}

{% block content %}
{% include "partials/navbar.html" %}


<!--posts-->
<div id='post_page' class="row mb-2">
    <div class="col-md-12 post">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">{{users.query.filter_by(id=post.author).first().username}}</strong>
          <h3 class="mb-0">{{post.subject}}</h3>
          <p class="card-text mb-auto">{{post.content}}</p>
        </div>
      </div>
      <div class="col-md-12 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative comment">
        <!--          add comment button-->
          <a href="{{url_for('main_bp.newcomment',post_id=post.id)}}" class="stretched-link">
            <button class="btn  btn-primary btn-block">
              add Comment
            </button>
          </a>
<!--Comments thingi -->
        {% if post.comments|length < 1 %}
          <h4>
            No comments yet!
          </h4>
        {% else %}
        <div class="col-md-12 post">
        {% for comment in post.comments %}

                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <strong class="d-inline-block mb-2 ">{{users.query.filter_by(id=comment.author).first().username}}</strong>
                      <h5 class="mb-0">{{comment.subject}}</h5>
                      <p class="card-text mb-auto">{{comment.content}}</p>
                    </div>
                  </div>
                </div>
        {% endfor%}
        </div>
        {% endif %}
      </div>
    </div>
</div>

{% endblock %}