{% extends 'partials/main/base.html' %}
{% block content %}


<div class="col-md-3 col-sm-6 item-card single-item rounded">
    <div class="product-grid">
        <div class="product-image">
            <a href="{{url_for('main_bp.item',item_id=item.id)}}" class="image">
                <img class="img-1" src="https://res.cloudinary.com/drzcke4vu/image/upload/v1683294873/{{item.image}}">
                {%if item.fixed %}
                        <div class="badge fixed-badge" >
                            FIXED
                        </div>
                        {% else %}
                        <div class="badge broken-badge" >
                            NEEDS A FIX
                        </div>
                        {% endif %}
            </a>
        </div>
        <div class="product-content">
            <div class="price">{{item.price}}$</div>
            <h3 class="title"><a href="#">{{item.name}}</a></h3>
            <p>{{item.description}}</p>
        </div>
    </div>
</div>

{% endblock %}