{% extends 'partials/main/base.html' %}

{% block content %}
{% include "partials/main/navbar.html" %}

<div class="col-md-8">
  <form id="regForm" class='form' method="POST" action="#" enctype="multipart/form-data">
  {{ form.hidden_tag()}}
      <div id="container">
          <h1 class="title">{{title}}</h1>
          <i id="prev-btn" class="fas fa-arrow-left"></i>
          <i id="next-btn" class="fas fa-arrow-right"></i>
          {{form.name(class="form-control active",id='name')}}
          {{form.description(class="form-control disabled",placeholder='description',id='description')}}

          {% if edit %}
          {{form.image(class="form-control disabled third",id='image')}}

          {% else %}
          {{form.image(class="form-control disabled third",id='image')}}
          {% endif %}
          {{form.price(class="form-control disabled",placeholder='100$',id='price')}}
          {{form.price(class="form-control disabled",placeholder='100$',id='price')}}


          {{form.submit(class="btn btn-success disabled",id='submit')}}
          <div id="progress-bar"></div>
      </div>
  </form>
</div>


<script src="{{url_for('main_bp.static',filename='main/scripts/new_tool.js')}}"></script>

<script>


function loadURLToInputFiled(url){
  getImgURL(url, (imgBlob)=>{
    // Load img blob to input
    // WIP: UTF8 character error
    let fileName = 'Your  Picture.jpg'
    let file = new File([imgBlob], fileName,{type:"image/jpeg", lastModified:new Date().getTime()}, 'utf-8');
    let container = new DataTransfer();
    container.items.add(file);
    document.querySelector('#image').files = container.files;

  })
}
// xmlHTTP return blob respond
function getImgURL(url, callback){
  var xhr = new XMLHttpRequest();
  xhr.onload = function() {
      callback(xhr.response);
  };
  xhr.open('GET', url);
  xhr.responseType = 'blob';
  xhr.send();
}

loadURLToInputFiled('{{edit}}')
</script>
{% endblock %}
