{% extends 'partials/accounts/base.html' %}
{% block content %}

<main id ='container-of-all' class="col-md-8 shadow bg-white rounded ">
    <form id="regForm" class='form' method="POST" action="#">
    <h1 class="title">{{title}}</h1>
        {{ form.hidden_tag()}}
        <div id="form-container" >
            <div>
            {{form.email(class='form-control guide-input')}}
            </div>
            <br>
            <div>
            {{form.password(class='form-control guide-input',placeholder='Password')}}
            </div>
            <br>
            {{form.submit(class="button-paper")}}
        </div>
    </form>
    <a href="{{url_for('accounts_bp.reset_password_request')}}" class="button-paper">Forgot Password?</a>
</main>

{% endblock %}