{% extends 'partials/accounts/base.html' %}
{% block content %}

<main id ='container-of-all' class="col-md-8 shadow bg-white rounded ">
    <form id="regForm" class='form' method="POST" action="#">
    <h1 class="title">{{title}}</h1>
        {{ form.hidden_tag()}}
        <div id="form-container" >
            <div>
            {{form.email(class='form-control guide-input',placeholder='Email address')}}
            </div>
            <br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <br>
            {{form.submit(class="button-paper",style='margin-left:0; margin-top:3vh;')}}
        </div>
    </form>
</main>

{% endblock %}