.sidebar-drop-toggler:first-child{
    color:black;
}


main.rounded{
  height:60vh;
  width:55vw;
  background-image:url(https://res.cloudinary.com/drzcke4vu/image/upload/v1684667197/nature-blurred-background.jpg) ;
   background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.title{
  color:white;
  font-family: 'Wix Madefor Display', sans-serif;
  text-transform: uppercase;
  padding-top: 3vh;
}

.form-control.guide-input {
  align-self: center;
  background-color: rgba(255,255,255,0.3);
  color:white;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  border-width: 2.5px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:30vw !important;
  /* display: inline-block; */
}

.form-control.active:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.form-control.active:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.active>h3{
margin-bottom:5vh;
color:white !important;
font-family: 'Wix Madefor Display', sans-serif;
}


#form-container{
border-style: solid;
border-width: 2.5px;
box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
box-sizing: border-box;
cursor: pointer;
display: inline-block;
font-family: Neucha, sans-serif;
font-size: 1rem;
line-height: 23px;
outline: none;
padding: .75rem;
text-decoration: none;
transition: all 235ms ease-in-out;
border-bottom-left-radius: 15px 255px;
border-bottom-right-radius: 225px 15px;
border-top-left-radius: 255px 15px;
border-top-right-radius: 15px 225px;
border-color:white;
padding:8vh;
}


.disabled{
  color:grey !important;
  pointer-events: none;

}

#container-of-all{
 box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important; 
}

.button-paper {
 background-color: rgba(255,255,255,0.2);
 border-color:white;
 color:white;

  
}


.button-paper:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-paper:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


#progress-bar {
  position: absolute;
  background: white;
  height: 10px !important;
  width: 0;
  transition: width 0.5s ease-in-out;
}



#regForm{
  width:50vw;
}


main{
    text-align: center;
    margin:auto;
    margin-top:15vh;
    width:50vw;
    height:40vh;
}


#prev-btn,#next-btn{
    height:7vh;
    width:3vw;
    margin-top:3vh;
    color:white;

}

#form-container{
    margin-top:3vh;
    z-index:2;
}

#category>option{
  background: black;
  color: white;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
  background-color: transparent !important;
  color:white;
}

#guide-search-input{
    width:20vw;
    display: inline-block;
    margin-bottom: 6vh;
    color: white;
    border-color:white !important;
}


h1{
  text-align:center;
  margin-bottom:50px;
  margin-top:50px;
}
.blog-card-blog {
    margin-top: 30px;
}
.blog-card {
    display: inline-block;
    position: relative;
    /* width: 100%; */
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.blog-card .blog-card-image {/* height: 60%; */position: relative;overflow: hidden;margin-left: 15px;margin-right: 15px;margin-top: -30px;border-radius: 6px;box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);}
.blog-card .blog-card-image img {
    max-height:100px;
    max-width:100px;
    border-radius: 6px;
    pointer-events: none;
}
.blog-card .blog-table {
    padding: 15px 30px;
}
.blog-table {
    margin-bottom: 0px;
}
.blog-category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}
.blog-text-success {
    color: #28a745!important;
}
.blog-card-blog .blog-card-caption {
    margin-top: 5px;
}
.blog-card-caption {
    font-weight: 400;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.blog-card-caption, .blog-card-caption a {
    color: #333;
    text-decoration: none;
}

p {
    color: #3C4857;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size:0.8rem;
}
.blog-card .ftr {
    margin-top: 15px;
}
.blog-card .ftr .author {
    color: #888;
}

.blog-card .ftr div {
    display: inline-block;
}
.blog-card .author .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.blog-card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
}
.blog-card .ftr .stats {
    float: right;
    line-height: 30px;
}

.disabled.tool_id{
  display:none;
}

.tool_added{
    border:1px solid blue;
}

.tool-name{
  min-width: fit-content;
}

.tool-container{
  margin-right: 0.5;
}

::placeholder {
  color: white;
  opacity:0.8;
}

:root {
  --animate-duration: 0.7s;
}


.accounts-form{
    height:fit-content;
    width:50vw;
    border:1px solid red;
}

.accounts-form>form>input{
    width:25vw;
    margin-left: 15vw;
}

#submit{
    margin-left: 10vw;
    width:10vw;
}

#form-container>*{
    display: block;
}

.title{
    margin-bottom: 0;

}


#container-of-all{
    height:fit-content;
    padding-bottom: 10vh;
}