@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Wix+Madefor+Display:wght@600&display=swap');

body,html{
    z-index:1;
    background-color:#f5f5ef;
    overflow-x: hidden;
    overflow-x: visible;

}


nav,.alert{
    z-index:5 !important;
}

.alert{
    width:100%;
    left:0;
    position:absolute;
    top:15vh;
    display: inline;
}

.alert.message{
    position: absolute !important;
    top:0;
}

.form{
width : 50vw;
margin:auto;
}


#post_container{
    margin:auto;
    width:85vw;
}

#post_page{
    margin:auto;
    width:85vw;
    height:80vh;
}
.btn-block{
    width:100%;
}

.form-control:focus {
    box-shadow: none;
    border-color: #b9ffec
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}


.username_nav{
    padding-right:1vw;
}

/* Create New Guide Part */

input.disabled,select.disabled,div.disabled,ul.disabled,.sidebar-drop-toggler.disabled{
  display: none !important;
  visibility: hidden;
  width:0;
}



#progress-bar {
  position: absolute;
  background: #b9d4ec;
  height: 10px !important;
  width: 0;
  transition: width 0.5s ease-in-out;
}


#regForm{
  width:50vw;
}

/* Style for homepage video */

#myVideo {
  position: absolute;
  top:-30vh;
  width: 100vw;
  height:fit-content;
}

.homepage{
    font-family: 'Assistant', sans-serif;
}

.homepage-text{
    position:relative;
    left:10vw;
    top:30vh;
}

.homepage-text>h2{
     font-size: 40px;
}

.homepage-text>h4{
    position:relative;
    left:5vw;
}

/*FORM*/


main{
    text-align: center;
    margin:auto;
    margin-top:15vh;
    width:50vw;
    height:40vh;
}


#prev-btn,#next-btn{
    height:7vh;
    width:3vw;
    margin-top:3vh;
    color:white;

}

#form-container{
    margin-top:3vh;
    z-index:2;
}
/*Navbar*/


nav{
  width:100vw;
}

#sidebar-container{
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    transition: width 2s;
    z-index: 3;

}

#sidebar-container>i{

}
.user_image{
  padding:0 !important;
  margin-left: 2vw;
}


#sidebar{
    height:100%;
    width:20vw;
    background-color: black;
    display: block;
    opacity: 1;
    transition: opacity 200ms, display 200ms;
    
}

#sidebar.disabled{
      display: none;
      opacity: 0;
}

.alert{
    width:100%;
    left:0;
    position:absolute;
    top:10vh;
}

.sidebar-drop-toggler{
    cursor: pointer;
    
}
.sidebar-drop-toggler:first-child{
    margin-top: 7vh !important;
    margin-left: 3vw;
    z-index: 5;
}

/*Footer*/

footer{
    margin-top: 20vh;
    font-family: 'Wix Madefor Display', sans-serif !important;
    height:fit-content;
    color:white;

}

.footer-group{
    margin-left:5vw;
    color:white;
}


/*Guide page */

#new-guide-button{
    position:relative;
}
#guide-container{
    margin-left:10vw;
    width:80vw;
    height:100vh;
}
.tool_added{
    border:1px solid blue;
}
#guide-container>.col-12{
    height: 70%;
       border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  border: solid black;
}

#guide-title{
    font-size:4rem;
    font-style:italic;
    margin-top:2vh;
}

#guide-image{
    border-width: 5px 3px 3px 5px;
    border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    border: solid black;
    max-height:100%;
    max-width:50%;
}

#guide-container>.col-12>.row{
   position:relative;
   left:3vw; 
   top:10vh;
}

#guide-content{
    width:80%;
    position:relative;
    left:5vw;
    margin:0;
    font-weight: normal;
}

.step-container{
    height:70%;
    border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  border: solid black;
}

.step-container>.row{
    position:relative;
    top:5vh;
    left:5vw;
}

.step-image-container{
    max-height:600px;
    max-width:600px;
    margin-left:5vw;
}

.step-image-container>img{
    transition: transform 0.2s 0.05s;
    max-height:100%;
    max-width:100%;
    border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  border: solid black;
}

.step-image-container>img:hover{
    transform: scale(1.8);
    transition-delay: 0s;
}

.step-info-container{
    text-align: center;
}

.tool-image{
    max-height: 50px;
    max-width: 50px;
    margin-right:1vh;
}

.button-paper {
  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-paper:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-paper:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.tools-dropdown{
  background-color: transparent;
}

#search-and-filter{
    margin-left: 35vw;
}

#guide-search-input{
    width:20vw;
    display: inline-block;
  /*  position: relative;
    left:35vw;*/
}

#filter-dropdown{
  display: inline-block;
}

#filter-dropdown>ul{
    background-color: black;
}

#filter-dropdown>ul>li>a{
    color:white;
    transition: border-width 0.2s linear;
    border-bottom:1px solid white;
    border-width: 0;

}

#filter-dropdown>ul>li>a:hover{
    background-color: black !important;
    border-width: 6px;

}

#filter-dropdown-icon{
    background-color: transparent !important;
    border: none;
    color:black;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
  background-color: transparent !important;
}

#guide-footer{
    position:relative;
    left:25%;
    width:50%;
    height:15%;
}

#guide-footer>.col-6{
   border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  border: solid black;
}


#author{
    padding-top: 1vw;
}
#author>a>img{
    max-width:100px;
    max-height: 100px;
    margin-left:3vw;

}

#author-name{
    display:inline-block;
    margin-left:2vw;
}

/*Ratings*/

.ratings{
    margin-right:10px;
    margin-top:7vh;
}

.ratings i{
    color:#cecece;
    font-size:32px;
}


.rating-color{
    color:#fbc634 !important;
}

.review-count{
    font-weight:400;
    margin-bottom:2px;
    font-size:24px !important;
}

.small-ratings i{
  color:#cecece;   
}

.review-stat{
    font-weight:300;
    font-size:18px;
    margin-bottom:2px;
}

.title{
    padding-top: 6vh;
}

.ratings-container{
    margin:0;
    margin-left:5vw;
    width:fit-content;

}

