.user-guides-image{
	width:300px;
	height:300px;
	background-repeat: no-repeat;
	background-size: cover;
}
.user-guides-image>h4{
	color:black;
	text-shadow: 2px 2px 2px white;	

}

.user-guide-link-container{
	text-decoration-color: black;
}

#user-container{
	color:white;
  background-image:url(https://res.cloudinary.com/drzcke4vu/image/upload/v1684667197/nature-blurred-background.jpg) ;
   background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.button-paper{
	color:white;
}

.edit-button{
	color:white;
	border-color:white;
}

#about {
  align-self: center;
  background-color: rgba(255,255,255,0.3);
  color:white;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  border-width: 2.5px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:30vw !important;
}