.tool-card{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.sidebar-drop-toggler:first-child{
    color:black;
}

.tool-page{
    margin-left:35vw;
}



.button-paper:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-paper:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.button-paper {
  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


#search-and-filter{
    margin-left: 35vw;
    margin-top: 10vh;
}

#guide-search-input{
    width:20vw;
    display: inline-block;
    margin-bottom: 5vh;
  /*  position: relative;
    left:35vw;*/
}


.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
  background-color: transparent !important;
}


#new-tool-button{
    position: relative;
    width:fit-content;
    /* margin-left:5vw; */
    /* float: right; */
    left: 42vw;
}

#new-tool-link{
    width:fit-content;
}

#clear-search{
  cursor: pointer;
}